AddHandler application/x-httpd-php .html .php .php5 .phtml .htm .inc.php .htaccess 

ErrorDocument 404 /404.phtml
ErrorDocument 500 /500.phtml

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]